*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(9,43,121);
    text-align: center;
    color: rgb(0, 9, 17);
    font-weight: bolder;
    padding: 30px 0px;
    font-size: 30px;
    margin-bottom: 30px;
  } 
  .container{
    margin-top: 100px;
    color: rgb(135, 167, 202);
  }
  .card{
    margin-left: 450px;
    height: 400px;
    margin-top: 30px;
    color: rgb(75, 62, 158);
    background: #56898d;
    border-radius: 10px;
  }
  .card-img-top{
    border-radius: 20px;
  }
  .content{
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: center;
   
  }
  .column{
    margin-left: 10px;
    margin-top: 5px;
  }
  .content .column{
    
    border-radius: 10px;
    width: calc(100% / 3 - 5px);
    padding: 0 10px;
 }
  .column select{
    border-radius: 10px;
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
    font-style: normal;
    font-weight: bold;
    background: rgb(221, 221, 230);
    color: rgb(18, 16, 18);
    cursor: pointer;
}
.btn{
    background-color: rgb(18, 8, 78);
    font-weight: bolder;
    color: aliceblue;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}
  